In [1]:
#import semua library yang dibutuhkan
import numpy as np
import pandas as pd
import json
import ast
pd.options.display.max_columns=30

In [2]:
# Load data
df = pd.read_csv('movies_metadata.csv', low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
#melihat informasi dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
# Cleaning data number dan text menjadi number
df[['revenue','runtime','vote_average','vote_count']]

           revenue  runtime  vote_average  vote_count
0      373554033.0     81.0           7.7      5415.0
1      262797249.0    104.0           6.9      2413.0
2              0.0    101.0           6.5        92.0
3       81452156.0    127.0           6.1        34.0
4       76578911.0    106.0           5.7       173.0
...            ...      ...           ...         ...
45461          0.0     90.0           4.0         1.0
45462          0.0    360.0           9.0         3.0
45463          0.0     90.0           3.8         6.0
45464          0.0     87.0           0.0         0.0
45465          0.0     75.0           0.0         0.0

[45466 rows x 4 columns]

In [5]:
#menjadikan budget serta revenue menjadi numeric dan mejadikan satuannya jutaan
df.budget = pd.to_numeric(df.budget, errors='coerce')

In [6]:
df.budget = df.budget.replace(0, np.nan)
df.budget = df.budget.div(1000000)
df.budget

0        30.0
1        65.0
2         NaN
3        16.0
4         NaN
         ...
45461     NaN
45462     NaN
45463     NaN
45464     NaN
45465     NaN
Name: budget, Length: 45466, dtype: float64

In [7]:
df.revenue=df.revenue.astype('float').replace(0,np.nan)
df.revenue = df.revenue.div(1000000)
df.revenue

0        373.554033
1        262.797249
2               NaN
3         81.452156
4         76.578911
            ...
45461           NaN
45462           NaN
45463           NaN
45464           NaN
45465           NaN
Name: revenue, Length: 45466, dtype: float64

In [8]:
df = df.rename(columns={'budget':'budget_musd','revenue':'revenue_musd'})

In [9]:
df.runtime.value_counts()

90.0     2556
0.0      1558
100.0    1470
95.0     1412
93.0     1214
         ...
410.0       1
283.0       1
238.0       1
566.0       1
780.0       1
Name: runtime, Length: 353, dtype: int64

In [10]:
#menjadikan value 0 menjadi NaN
df.runtime = df.runtime.replace(0, np.nan)

In [11]:
#menjadikan ID jadi numeric
df.id = pd.to_numeric(df.id, errors='coerce')

In [12]:
df.popularity = pd.to_numeric(df.popularity, errors='coerce')

In [13]:
df.loc[df.vote_count== 0, 'vote_average']

83       0.0
107      0.0
126      0.0
132      0.0
137      0.0
        ...
45432    0.0
45434    0.0
45452    0.0
45464    0.0
45465    0.0
Name: vote_average, Length: 2899, dtype: float64

In [14]:
df.loc[df.vote_count== 0, 'vote_average']= np.nan

Cleaning Date Time

In [15]:
#membuat release_Date jadi datetime
df.release_date=pd.to_datetime(df.release_date, errors='coerce')
df.release_date.info

<bound method Series.info of 0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45461          NaT
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45466, dtype: datetime64[ns]>

In [16]:
df.release_date.value_counts(dropna=False)

2008-01-01    136
2009-01-01    121
2007-01-01    118
2005-01-01    111
2006-01-01    101
             ...
1957-09-26      1
1938-11-21      1
1936-08-19      1
2010-01-27      1
1917-10-21      1
Name: release_date, Length: 17334, dtype: int64

Cleaning String/text data

In [17]:
#check informasi
df.overview

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45466, dtype: object

In [18]:
df.overview.isna().value_counts()

False    44512
True       954
Name: overview, dtype: int64

In [19]:
#menggantikan data yang kosng menjadi NaN
df.overview.fillna(np.nan)

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45466, dtype: object

In [20]:
df.overview[45461]

'Rising and falling between a man and woman.'

In [21]:
df.overview.value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      954
No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       133
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           5
No movie overview available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
"Of Time and The City" is both a love song and a eulogy to the director's birthplace of Liverpool, England. It is also a response to memory, reflection and the experience of losing a sense of place as the skyline changes and time takes it toll. The visual content of the film consists largely of archival clips of Liverpool from the 1940s to the 1960s, their nostalgic charm darkened by accompanying music and by the counterpoint of Davies’ dry, at times dyspeptic, voice-over narration. His voice thickens with emotion as he recalls the delights of juvenile movie-going or the ritual of a holiday trip to New Brighton, across the River Mersey, and hardens with contempt when he turns his gaze on the hoopla surrounding Queen Elizabeth’s coronation in 1953.      1
We are in the year 1871. A journalist for Versailles Television broadcasts a soothing and official view of events while a Commune television is set up to provide the perspectives of the Paris rebels. On a stage-like set, more than 200 actors interpret characters of the Commune, especially the Popincourt neighbourhood in the XIth arrondissement. They voice their own thoughts and feelings concerning the social and political reforms. The scenes consist mainly of long camera takes.                                                                                                                                                                                                                                                                                         1
A kindergarten director Troshkin is a dead ringer for a criminal nicknamed "Docent" who stole the priceless...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
A man wakes up deep inside a cave. Suffering amnesia, he has no recollection of how he came to be here or of what happened to the man whose body he finds beside him. Tailed by a mysterious creature, he must continue through this strange and fantastic world. Enclosed, Tolbiac has no other option to reach the surface than to use REZO ZERO, secret observing cells in this cemetery-like abandoned mine.                                                                                                                                                                                                                                                                                                                                                                           1
50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: overview, Length: 44308, dtype: int64

Mengganti semua data yang tidak ada overview menjadi nan

In [22]:
df.overview.replace("No overview found.", np.nan, inplace=True)

In [23]:
df.overview.replace("No movie overview available.", np.nan, inplace=True)

In [24]:
df.overview.replace("No Overview", np.nan, inplace=True)

In [25]:
df.overview.replace("No verview yet", np.nan, inplace=True)

In [26]:
df.overview.replace(" ", np.nan, inplace=True)

In [27]:
df.overview.value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1102
Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      3
A few funny little novels about different aspects of life.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  3
King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.                                                                                                                                                                                              3
Released                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
"Of Time and The City" is both a love song and a eulogy to the director's birthplace of Liverpool, England. It is also a response to memory, reflection and the experience of losing a sense of place as the skyline changes and time takes it toll. The visual content of the film consists largely of archival clips of Liverpool from the 1940s to the 1960s, their nostalgic charm darkened by accompanying music and by the counterpoint of Davies’ dry, at times dyspeptic, voice-over narration. His voice thickens with emotion as he recalls the delights of juvenile movie-going or the ritual of a holiday trip to New Brighton, across the River Mersey, and hardens with contempt when he turns his gaze on the hoopla surrounding Queen Elizabeth’s coronation in 1953.       1
We are in the year 1871. A journalist for Versailles Television broadcasts a soothing and official view of events while a Commune television is set up to provide the perspectives of the Paris rebels. On a stage-like set, more than 200 actors interpret characters of the Commune, especially the Popincourt neighbourhood in the XIth arrondissement. They voice their own thoughts and feelings concerning the social and political reforms. The scenes consist mainly of long camera takes.                                                                                                                                                                                                                                                                                          1
A kindergarten director Troshkin is a dead ringer for a criminal nicknamed "Docent" who stole the priceless...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
A man wakes up deep inside a cave. Suffering amnesia, he has no recollection of how he came to be here or of what happened to the man whose body he finds beside him. Tailed by a mysterious creature, he must continue through this strange and fantastic world. Enclosed, Tolbiac has no other option to reach the surface than to use REZO ZERO, secret observing cells in this cemetery-like abandoned mine.                                                                                                                                                                                                                                                                                                                                                                            1
50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
Name: overview, Length: 44304, dtype: int64

In [28]:
df.tagline.value_counts(dropna=False)

NaN                                                           25054
Based on a true story.                                            7
Trust no one.                                                     4
Be careful what you wish for.                                     4
-                                                                 4
                                                              ...
A special force in a special kind of hell!                        1
Play it. Sing it. Shout it. Feel it.                              1
If It's On TV, It Must Be The Truth.                              1
"I LOVE YOU BABY, BUT MY WIFE JUST REFUSES TO UNDERSTAND!"        1
A deadly game of wits.                                            1
Name: tagline, Length: 20284, dtype: int64

In [29]:
df.tagline.replace("-", np.nan, inplace=True)

How to handle Duplicates

In [30]:
#cek berapa yang duplicate
df.title.duplicated().value_counts()

False    42278
True      3188
Name: title, dtype: int64

In [31]:
df[df.duplicated(keep=False)].sort_values(by='id')

,adult,belongs_to_collection,budget_musd,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
7345,False,NaN,NaN,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,5511.0,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,9.091288,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,"[{'name': 'Fida cinematografica', 'id': 73}, {...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1967-10-25,0.039481,105.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
9165,False,NaN,NaN,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,5511.0,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,9.091288,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,"[{'name': 'Fida cinematografica', 'id': 73}, {...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1967-10-25,0.039481,105.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
24844,False,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115.0,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,6.880365,/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg,"[{'name': 'Andertainment Group', 'id': 2634}, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2008-01-29,NaN,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Deal,False,5.2,22.0
14012,False,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115.0,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,6.880365,/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg,"[{'name': 'Andertainment Group', 'id': 2634}, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2008-01-29,NaN,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Deal,False,5.2,22.0
22151,False,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440.0,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,1.436085,/tWCyKXHuSrQdLAvNeeVJBnhf1Yv.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2007-01-01,NaN,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Days of Darkness,False,5.0,5.0
14000,False,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440.0,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,1.436085,/tWCyKXHuSrQdLAvNeeVJBnhf1Yv.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2007-01-01,NaN,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Days of Darkness,False,5.0,5.0
8068,False,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305.0,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",1.967992,/9GlrmbZO7VGyqhaSR1utinRJz3L.jpg,"[{'name': 'Filmfour', 'id': 6705}]","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2001-09-23,NaN,86.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,The Warrior,False,6.3,15.0
9327,False,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305.0,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",1.967992,/9GlrmbZO7VGyqhaSR1utinRJz3L.jpg,"[{'name': 'Filmfour', 'id': 6705}]","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2001-09-23,NaN,86.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,The Warrior,False,6.3,15.0
17229,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,25541.0,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,2.587911,/q19Q5BRZpMXoNCA4OYodVozfjUh.jpg,[],"[{'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso...",2009-10-21,NaN,90.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Brotherhood,False,7.1,21.0
23044,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,25541.0,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,2.587911,/q19Q5BRZpMXoNCA4OYodVozfjUh.jpg,[],"[{'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso...",2009-10-21,NaN,90.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Brotherhood,False,7.1,21.0
29374,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,42495.0,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",0.187901,/xuE1IlUCohbxMY0fiqKTT6d013n.jpg,"[{'name': 'Royal Shakespeare Company', 'id': 5...","[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'is...",1971-02-04,NaN,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,King Lear,False,8.0,3.0
15702,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,42495.0,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",0.187901,/xuE1IlUCohbxMY0fiqKTT6d013n.jpg,"[{'name': 'Royal Shakespeare Company', 'id': 5...","[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'is...",1971-02-04,NaN,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,King Lear,False,8.0,3.0
13946,False,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}]",NaN,97995.0,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",0.141558,/4J6Ai4C5YRgfRUTlirrJ7QsmJKU.jpg,"[{'name': 'Max Linder Productions', 'id': 38162}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1921-02-06,NaN,62.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Seven Years Bad Luck,False,5.6,4.0
40276,False,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}]",NaN,97995.0,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",0.141558,/4J6Ai4C5YRgfRUTlirrJ7QsmJKU.jpg,"[{'name': 'Max Linder Productions', 'id': 38162}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1921-02-06,NaN,62.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Seven Years Bad Luck,False,5.6,4.0
38871,False,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080.0,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",0.002362,/qenjwRvW9itR5pVp4CBkYfhVAOp.jpg,[],[],1931-06-21,NaN,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Actually produced during the Great Newfoundlan...,The Viking,False,NaN,0.0
16167,False,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080.0,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",0.002362,/qenjwRvW9itR5pVp4CBkYfhVAOp.jpg,[],[],1931-06-21,NaN,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Actually produced during the Great Newfoundlan...,The Viking,False,NaN,0.0
676,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045.0,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",0.122178,/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,"[{'name': 'Studio Babelsberg', 'id': 264}, {'n...","[{'iso_3166_1': 'DE', 'name': 'Germany'}]",1995-02-16,NaN,115.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
1465,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045.0,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",0.122178,/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,"[{'name': 'Studio Babelsberg', 'id': 264}, {'n...","[{'iso_3166_1': 'DE', 'name': 'Germany'}]",1995-02-16,NaN,115.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
19890,False,NaN,NaN,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,119916.0,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",0.000018,/gLVRTxaLtUDkfscFKPyYrCtRnTk.jpg,[],[],1980-02-27,NaN,123.0,[],Released,NaN,The Tempest,False,NaN,0.0
21165,False,NaN,NaN,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,119916.0,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",0.000018,/gLVRTxaLtUDkfscFKPyYrCtRnTk.jpg,[],[],1980-02-27,NaN,123.0,[],Released,NaN,The Tempest,False,NaN,0.0
13375,False,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971.0,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,"[{'name': 'Filmiteollisuus Fine', 'id': 5166}]","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",2008-12-26,NaN,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
13261,False,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971.0,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,"[{'name': 'Filmiteollisuus Fine', 'id': 5166}]","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",2008-12-26,NaN,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
16764,False,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971.0,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg,"[{'name': 'Filmiteollisuus Fine', 'id': 5166}]","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",2008-12-26,NaN,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
19925,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,152795.0,tt1821641,en,The Congress,More than two decades after catapulting to sta...,8.534039,/nnKX3ahYoT7P3au92dNgLf4pKwA.jpg,"[{'name': 'Pandora Filmproduktion', 'id': 254}...","[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'is...",2013-05-16,0.455815,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Congress,False,6.4,165.0
21854,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,152795.0,tt1821641,en,The Congress,More than two decades after catapulting to sta...,8.534039,/nnKX3ahYoT7P3au92dNgLf4pKwA.jpg,"[{'name': 'Pandora Filmproduktion', 'id': 254}...","[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'is...",2013-05-16,0.455815,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Congress,False,6.4,165.0
13220,False,"{'id': 158365, 'name': 'Why We Fight', 'poster...",NaN,"[{'id': 99, 'name': 'Documentary'}]",NaN,159849.0,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",0.473322,/g21ruZZ3BZeUDuKMb82kejjtufk.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1943-01-01,NaN,57.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
35798,False,"{'id': 158365, 'name': 'Why We Fight', 'poster...",NaN,"[{'id': 99, 'name': 'Documentary'}]",NaN,159849.0,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",0.473322,/g21ruZZ3BZeUDuKMb82kejjtufk.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1943-01-01,NaN,57.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
13603,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,168538.0,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,/pg4PUHRFrgNfACHSh5MITQ2gYch.jpg,"[{'name': 'Cannon Group', 'id': 1444}, {'name'...",[],1983-06-13,NaN,92.0,[],Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
28860,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,168538.0,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,/pg4PUHRFrgNfACHSh5MITQ2gYch.jpg,"[{'name': 'Cannon Group', 'id': 1444}, {'name'...",[],1983-06-13,NaN,92.0,[],Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
24164,False,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189.0,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",12.165685,/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,"[{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...","[{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...",2014-08-15,1.359497,118.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Force Majeure,False,6.8,255.0
45265,False,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189.0,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",12.165685,/rGMtc9AtZsnWSSL5VnLaGvx1PI6.jpg,"[{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...","[{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...",2014-08-15,1.359497,118.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Force Majeure,False,6.8,255.0
33184,False,NaN,0.98,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,298721.0,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",2.535419,/5GasjPRAy5rlEyDOH7MeOyxyQGX.jpg,"[{'name': 'Match Factory, The', 'id': 7306}, {...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2015-09-02,NaN,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Cemetery of Splendour,False,4.4,50.0
40040,False,NaN,0.98,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,298721.0,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",2.535419,/5GasjPRAy5rlEyDOH7MeOyxyQGX.jpg,"[{'name': 'Match Factory, The', 'id': 7306}, {...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2015-09-02,NaN,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Cemetery of Splendour,False,4.4,50.0

In [32]:
df.drop_duplicates(inplace=True)

In [33]:
df[df.duplicated(subset= 'id',keep=False)].sort_values(by='id')

,adult,belongs_to_collection,budget_musd,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
33826,False,NaN,30.000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,4912.0,tt0270288,en,Confessions of a Dangerous Mind,"Television made him famous, but his biggest hi...",7.645827,/o3Im9nPLAgtlw1j2LtpMebAotSe.jpg,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",2002-12-30,33.013805,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some things are better left top secret.,Confessions of a Dangerous Mind,False,6.6,281.0
5865,False,NaN,30.000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,4912.0,tt0270288,en,Confessions of a Dangerous Mind,"Television made him famous, but his biggest hi...",11.331072,/o3Im9nPLAgtlw1j2LtpMebAotSe.jpg,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",2002-12-30,33.013805,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some things are better left top secret.,Confessions of a Dangerous Mind,False,6.6,281.0
4114,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16.000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991.0,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,10.264597,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,"[{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...","[{'iso_3166_1': 'JP', 'name': 'Japan'}]",2000-07-08,68.411275,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,143.0
44821,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16.000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991.0,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,6.480376,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,"[{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...","[{'iso_3166_1': 'JP', 'name': 'Japan'}]",2000-07-08,68.411275,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,144.0
44826,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.pokemon.com/us/movies/movie-pokemon...,12600.0,tt0287635,ja,劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）,"All your favorite Pokémon characters are back,...",6.080108,/bqL0PVHbQ8Jmw3Njcl38kW0CoeM.jpg,[],"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",2001-07-06,28.023563,75.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,False,5.7,82.0
5535,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.pokemon.com/us/movies/movie-pokemon...,12600.0,tt0287635,ja,劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）,"All your favorite Pokémon characters are back,...",7.072301,/bqL0PVHbQ8Jmw3Njcl38kW0CoeM.jpg,[],"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",2001-07-06,28.023563,75.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,False,5.7,82.0
15765,False,NaN,0.002500,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,13209.0,tt0499537,fa,Offside,"Since women are banned from soccer matches, Ir...",1.529879,/nfkOkpudNNIjRrf0mTFVoiGzHyc.jpg,"[{'name': 'Jafar Panahi Film Productions', 'id...","[{'iso_3166_1': 'IR', 'name': 'Iran'}]",2006-05-26,NaN,93.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,Offside,False,6.7,27.0
11342,False,NaN,0.002500,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,13209.0,tt0499537,fa,Offside,"Since women are banned from soccer matches, Ir...",1.528960,/nfkOkpudNNIjRrf0mTFVoiGzHyc.jpg,"[{'name': 'Jafar Panahi Film Productions', 'id...","[{'iso_3166_1': 'IR', 'name': 'Iran'}]",2006-05-26,NaN,93.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,Offside,False,6.7,27.0
10419,False,NaN,1.600000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.bubblethefilm.com/,14788.0,tt0454792,en,Bubble,Set against the backdrop of a decaying Midwest...,3.185256,/w56oo9nREcF54sNXVYuE9QxZFjT.jpg,"[{'name': 'Magnolia Pictures', 'id': 1030}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2005-09-03,NaN,73.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Bubble,False,6.4,36.0
12066,False,NaN,1.600000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.bubblethefilm.com/,14788.0,tt0454792,en,Bubble,Set against the backdrop of a decaying Midwest...,3.008299,/w56oo9nREcF54sNXVYuE9QxZFjT.jpg,"[{'name': 'Magnolia Pictures', 'id': 1030}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2005-09-03,NaN,73.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Bubble,False,6.4,36.0
5130,False,NaN,26.000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,15028.0,tt0157472,en,Clockstoppers,"Until now, Zak Gibbs' greatest challenge has b...",5.373623,/xGhDPrBz9mJN8CsIjA23jQSd3sc.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2002-03-17,38.793283,94.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,False,4.9,89.0
33743,False,NaN,26.000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,15028.0,tt0157472,en,Clockstoppers,"Until now, Zak Gibbs' greatest challenge has b...",4.920175,/xGhDPrBz9mJN8CsIjA23jQSd3sc.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2002-03-17,38.793283,94.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,False,4.9,90.0
949,False,NaN,0.000004,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,22649.0,tt0022879,en,A Farewell to Arms,British nurse Catherine Barkley (Helen Hayes) ...,1.914697,/k0MF0IIbJ2PfOIku2KyraXL72d8.jpg,"[{'name': 'Paramount Pictures', 'id': 4}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1932-12-08,0.000025,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every woman who has loved will understand,A Farewell to Arms,False,6.2,29.0
15074,False,NaN,0.000004,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,22649.0,tt0022879,en,A Farewell to Arms,British nurse Catherine Barkley (Helen Hayes) ...,2.411191,/k0MF0IIbJ2PfOIku2KyraXL72d8.jpg,"[{'name': 'Paramount Pictures', 'id': 4}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1932-12-08,0.000025,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every woman who has loved will understand,A Farewell to Arms,False,6.2,29.0
9576,False,NaN,10.000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,69234.0,tt0100361,en,The Phantom of the Opera,Count de Chagnie has discovered Christine's si...,0.441872,/ole8e9YQwvHoKVpWO0lgfLFFemc.jpg,"[{'name': 'Beta Film', 'id': 1080}, {'name': '...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1990-03-18,NaN,168.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Phantom of the Opera,False,5.0,3.0
26625,False,NaN,10.000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,69234.0,tt0100361,en,The Phantom of the Opera,Count de Chagnie has discovered Christine's si...,0.438490,/ole8e9YQwvHoKVpWO0lgfLFFemc.jpg,"[{'name': 'Beta Film', 'id': 1080}, {'name': '...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1990-03-18,NaN,168.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Phantom of the Opera,False,5.0,3.0
20843,False,NaN,40.000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,77221.0,tt1701210,en,Black Gold,"On the Arabian Peninsula in the 1930s, two war...",6.475665,/iQd7zWhSeCe3cgdPcLIDXjGfdzL.jpg,"[{'name': 'France 2 Cinéma', 'id': 83}, {'name...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2011-12-21,5.446000,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Black Gold,False,5.9,77.0
11155,False,NaN,40.000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,77221.0,tt1701210,en,Black Gold,"On the Arabian Peninsula in the 1930s, two war...",6.652197,/iQd7zWhSeCe3cgdPcLIDXjGfdzL.jpg,"[{'name': 'France 2 Cinéma', 'id': 83}, {'name...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2011-12-21,5.446000,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Black Gold,False,5.9,77.0
21116,False,NaN,NaN,"[{'id': 99, 'name': 'Documentary'}]",NaN,84198.0,tt1736049,en,A Place at the Table,"Using personal stories, this powerful document...",1.673307,/jn8L1QdWWX5c0NUOLjzaSXtZrbt.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2012-03-22,NaN,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Nation. Underfed.,A Place at the Table,False,6.9,7.0
2564,False,NaN,NaN,"[{'id': 99, 'name': 'Documentary'}]",NaN,84198.0,tt1736049,en,A Place at the Table,"Using personal stories, this powerful document...",0.501046,/jn8L1QdWWX5c0NUOLjzaSXtZrbt.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2012-03-22,NaN,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Nation. Underfed.,A Place at the Table,False,6.9,7.0
20899,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,109962.0,tt0082992,en,Rich and Famous,Two literary women compete for 20 years: one w...,10.396878,/tOflyY8eUFWubLKJH7fKg4KwpCl.jpg,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...","[{'iso_3166_1': 'US', 'name': 'United States o...",1981-09-23,NaN,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"From the very beginning, they knew they'd be f...",Rich and Famous,False,4.9,7.0
5710,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,109962.0,tt0082992,en,Rich and Famous,Two literary women compete for 20 years: one w...,12.180836,/tOflyY8eUFWubLKJH7fKg4KwpCl.jpg,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...","[{'iso_3166_1': 'US', 'name': 'United States o...",1981-09-23,NaN,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"From the very beginning, they knew they'd be f...",Rich and Famous,False,4.9,7.0
23534,False,NaN,3.512454,"[{'id': 18, 'name': 'Drama'}]",NaN,110428.0,tt2018086,fr,Camille Claudel 1915,"Winter, 1915. Confined by her family to an asy...",0.110065,/sGMPDg6je1zKi0TiX9b4pP6yN02.jpg,"[{'name': 'Canal+', 'id': 5358}, {'name': 'Art...","[{'iso_3166_1': 'FR', 'name': 'France'}]",2013-03-13,0.115860,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Camille Claudel 1915,False,7.0,20.0
4356,False,NaN,3.512454,"[{'id': 18, 'name': 'Drama'}]",NaN,110428.0,tt2018086,fr,Camille Claudel 1915,"Winter, 1915. Confined by her family to an asy...",0.134014,/sGMPDg6je1zKi0TiX9b4pP6yN02.jpg,"[{'name': 'Canal+', 'id': 5358}, {'name': 'Art...","[{'iso_3166_1': 'FR', 'name': 'France'}]",2013-03-13,0.115860,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Camille Claudel 1915,False,7.0,20.0
30001,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,132641.0,tt0046468,ja,Tsuma,"Ten years into a marriage, the wife is disappo...",0.619388,/z9WiHt5uQjs8L8tyBpRBKzlheF2.jpg,"[{'name': 'Toho Company', 'id': 882}]","[{'iso_3166_1': 'JP', 'name': 'Japan'}]",1953-04-29,NaN,89.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Wife,False,NaN,0.0
838,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,132641.0,tt0046468,ja,Tsuma,"Ten years into a marriage, the wife is disappo...",0.096079,/z9WiHt5uQjs8L8tyBpRBKzlheF2.jpg,"[{'name': 'Toho Company', 'id': 882}]","[{'iso_3166_1': 'JP', 'name': 'Japan'}]",1953-04-29,NaN,89.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Wife,False,NaN,0.0
19730,- Written by Ørnås,0.065736,NaN,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",NaN,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Midnight Man,False,6.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,NaN,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",NaN,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Mardock Scramble: The Third Exhaust,False,7.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,NaN,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",NaN,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Avalanche Sharks,False,4.3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.drop_duplicates(subset="id", inplace=True)

In [35]:
df.id.value_counts(dropna=False)

862.0       1
74458.0     1
296206.0    1
107308.0    1
16247.0     1
           ..
44399.0     1
10138.0     1
32084.0     1
42191.0     1
461257.0    1
Name: id, Length: 45434, dtype: int64

Handle Missing Value & removin observations/Row

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45434 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45434 non-null  object
 1   belongs_to_collection  4489 non-null   object
 2   budget_musd            8880 non-null   float64
 3   genres                 45434 non-null  object
 4   homepage               7775 non-null   object
 5   id                     45433 non-null  float64
 6   imdb_id                45417 non-null  object
 7   original_language      45423 non-null  object
 8   original_title         45434 non-null  object
 9   overview               44332 non-null  object
 10  popularity             45430 non-null  float64
 11  poster_path            45048 non-null  object
 12  production_companies   45431 non-null  object
 13  production_countries   45431 non-null  object
 14  release_date           45346 non-null  datetime64[ns]
 15  revenue_musd           7398 non-null   float64
 16  runtime                43615 non-null  float64
 17  spoken_languages       45430 non-null  object
 18  status                 45349 non-null  object
 19  tagline                20397 non-null  object
 20  title                  45430 non-null  object
 21  video                  45430 non-null  object
 22  vote_average           42534 non-null  float64
 23  vote_count             45430 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(16)
memory usage: 8.7+ MB

In [37]:
df.isna().sum()

adult                        0
belongs_to_collection    40945
budget_musd              36554
genres                       0
homepage                 37659
id                           1
imdb_id                     17
original_language           11
original_title               0
overview                  1102
popularity                   4
poster_path                386
production_companies         3
production_countries         3
release_date                88
revenue_musd             38036
runtime                   1819
spoken_languages             4
status                      85
tagline                  25037
title                        4
video                        4
vote_average              2900
vote_count                   4
dtype: int64

In [38]:
df[df.title.isna()]

,adult,belongs_to_collection,budget_musd,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19729,False,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,82663.0,tt0113002,en,Midnight Man,British soldiers force a recently captured IRA...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19730,- Written by Ørnås,0.065736,NaN,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",NaN,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Midnight Man,False,6.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29502,False,"{'id': 122661, 'name': 'Mardock Scramble Colle...",NaN,"[{'id': 16, 'name': 'Animation'}, {'id': 878, ...",http://m-scramble.jp/exhaust/,122662.0,tt2423504,ja,マルドゥック・スクランブル 排気,Third film of the Mardock Scramble series.,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35586,False,NaN,NaN,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 28,...",NaN,249260.0,tt2622826,en,Avalanche Sharks,A group of skiers are terrorized during spring...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN